:root {  

  --pinkTransparent: #cd2e58b5;
  --orange: #fb9606;
  --scarlet: #fe320b;
  --red: #bc1c37;
  --cerise: #df2a63;
  --pink: #d4219b;
  --redTransparent: #bc1c37a2;
  }
* {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  background-color: #fff6ed;
}

.parent {
  display: flex;
  width: 100%;
  max-width: 100vw;
  height: 100%;
}

#image-carousel,
#model-stats {
  flex: 1;
  background-color: #fff6ed;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#model-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#stat-breakdown,
#contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--red);
}

@media (max-width: 500px) {
  * {
    background-color: rgba(10, 0, 0, 0);
    overflow: hidden;
  }

  #model-stats {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    background-color: #fff6ed1d;
    box-shadow: 0.5em 0.5em 0.5em -0.2em var(--redTransparent);
  
  }

  #model-stats:hover {
    background-color: #fff6edc0;
    box-shadow: 0.5em 0.5em 0.5em -0.2em var(--redTransparent);
  }
}

.carousel-image {
  opacity: 1;
  z-index: 2;
  transition: opacity 1s;
}

.carousel-image-two {
  opacity:0;
  z-index: 1;
  transition: opacity 1s;
}

.hidden{
  opacity: 0;

}
.visible{
  opacity:1
}